

#Inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.InputLine{
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 10px; */
    /* border: 1px solid #e6e6e6; */
    border-radius: 10px;
    background-color: #454545;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: fit-content;
    padding: 10px;
}

.InputLine h2{
    margin: 5px 10px;
    color: white;
    font-size: 20px;
    font-family: 'Gabarito-Bold', sans-serif;
    white-space: nowrap;
}

.InputLine input,textarea{
    width: 250px;
    margin: 5px 10px;
    padding: 8px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Gabarito-Regular', sans-serif;
    background-color: #f1f1f1;
}

@media screen and (max-width: 460px){
    .InputLine input,textarea{
        width: 100%;
    }
}

.InputLine textarea{
    width: 100%;
    resize: vertical;
}


.multilines{
    width: calc(100% - 40px) !important;
}

.radioBlock{
    display: flex;
    align-items: center;
    margin: 5px 10px;

}

.radioBlock input{
    width: min-content;
    margin: 0px 10px 0px 0px;
}

.radioBlock label{
    color: white;
    font-size: 20px;
    font-family: 'Gabarito-Bold', sans-serif;
    cursor: pointer;
    border-radius: 7px ;
    padding: 10px;

    background-color: #6a6a6a;
    transition: ease-in-out 0.3s;
}

.radioBlock label:hover{
    background-color: #5a5a5a;
}

.radioButtons{
    display: flex;
    flex-wrap: wrap;
}

.QuestionBlock{

    width: calc(100% - 20px) !important;
    margin: 10px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* padding: 20px; */
    /* border: 1px solid #e6e6e6; */
    border-radius: 10px;
    background-color: #5b5b5b;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.CandidateBlock{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    place-content: space-between;
}

.CandidateBlock #removeButton{
    display: flex;
    align-items: center;
    place-content: center;
    margin-right: 10px;
    padding: 10px;
    background-color: #454545;
    border-radius: 50%;
    transition: ease-in-out 0.3s;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.CandidateBlock #removeButton img{
    width: 25px;
    height: 25px;
}

.CandidateBlock #removeButton:hover{
    background-color: #e05a5a;
    cursor: pointer;
}

.Indicator{
    display: flex;
    place-content: space-between;
    align-items: center;
    margin: 10px 15px;
    border-bottom: #f1f1f1 2px solid;
}

.Indicator h2{
    margin: 10px 0px;
    color: white;
    font-size: 27px;
    font-family: 'Gabarito-Bold', sans-serif;
}

.Indicator a{
    margin-right: 0px !important;
}

.LineNumber{
    color: white;
    text-align: center;
    min-width: 15px;
    margin: 5px 5px 5px 10px;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #6a6a6a;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    font-size: 18px;
    font-family: 'Gabarito-Bold', sans-serif;
}