body {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logoButton{
    text-decoration: none;

}

header #logoButton:hover{
    text-decoration: none;
}

header h1 {
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-family: 'Josefin Sans-Bold', sans-serif;

}

header #sidebarBack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
    opacity: 0;
    pointer-events:none;
    z-index: 3;
    /* display: none; */
}

header #sidebar{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #4d4d4d;
    transition: ease-in-out 0.3s;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    /* display: none; */
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    
}

@media screen and (max-width: 460px){
    #sidebar{
        width: calc(100% - 20px) !important;
    }
}

.sidebarButtons{
    height: 60px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 10px;
    margin: 10px;
    box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.3s;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Josefin Sans-Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarButtons:hover{
    background-color: #3e3e3e;
    cursor: pointer;
}

#logoutButton:hover{
    background-color: #d85b5b;
}

#backButton{
    position: absolute;
    bottom: 50px;
    width: 100px;
}

#ConnectName{
    right: 20px;
    position: absolute;
    color: #ffffff;
    transition: ease-in-out 0.3s;
    padding: 6px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ConnectName img{
    width: 30px;
    height: 30px;
}

#ConnectName p{
    margin: 0;
    padding:0px 5px;
    font-size: 18px;
    font-family: 'Josefin Sans-Regular', sans-serif;
}

#ConnectName:hover{
    background-color: #2e2e2e;
    cursor: pointer;
    padding: 6px 9px;
    border-radius: 7px;
}

button {
    background-color: #ffaf29;
    border: none;
    padding: 4px 7px;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    color: #000000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.1s;
    font-family: 'Josefin Sans-Bold', sans-serif;
}

button:hover {
    background-color: #e39d23;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttons {
    background-color: #ffaf29;
    border: none;
    padding: 7px 7px 4px 7px;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    color: #000000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.1s;
    font-family: 'Josefin Sans-Bold', sans-serif;
}

.buttons:hover {
    background-color: #e39d23;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* add font family */
@font-face {
    font-family: "Josefin Sans-Bold";
    src: url( "../fonts/JosefinSans-Bold.ttf" );
}

@font-face {
    font-family: "Josefin Sans-Regular";
    src: url( "../fonts/JosefinSans-Regular.ttf" );
}