


#Actions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    place-content: space-around;
    width: 100%;
}

.actionButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 385px;
    height: 250px;
    background-color: #5e5e5e;
    border: none;
    border-radius: 10px;
    margin: 15px;
    box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

@media screen and (max-width: 460px){
    .actionButton{
        width: 100%;
        margin: 20px 0px;
    }
}

.actionButton p{
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-family: 'Josefin Sans-Bold', sans-serif;
}

.actionButton:hover{
    background-color: #4e4e4e;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}