body {
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #4d4d4d;
}

.Form h1 {
    margin: 10px 10px 20px 10px;
    color: white;
    font-size: 32px;
    font-family: 'Gabarito-Bold', sans-serif;
}

.Form input {
    width: 80%;
    margin: 5px 0;
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Gabarito-Regular', sans-serif;

}

.Form p {
    color: white;
    margin: 5px;
    font-family: 'Gabarito-Regular', sans-serif;

}

.Form p a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Form p a {
    color: white;
}

#registerForm {
    display: none;
}

.errorInfo {
    color: #ffffff !important;
    margin: 5px;
    display: none;
    background: #f74847;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 13px;
}