.PollsList{
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    padding: 10px;
}

.CreatedPoll{
    width: 233px;
    /* height: 200px; */
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #5b5b5b;
    transition: ease-in-out 0.3s;
    
}


.CreatedPoll:hover{
    background-color: #454545;
    cursor: pointer;
}

.CreatedPoll h2{
    width:  calc(100% - 30px);
    /* height: 100px; */
    margin: 10px 15px 5px 15px;
    padding-bottom: 13px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Gabarito-Bold', sans-serif;
    border-bottom: 4px solid #ffffff;

}

.CreatedPoll h3{
    text-align: left;
    width:  calc(100% - 30px);
    margin: 10px 15px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Gabarito-Bold', sans-serif;
}

.CreatedPoll h4{
    text-align: center;
    width:  calc(100% - 30px);
    margin: 15px;
    font-size: 20px;
    color: #000000;
    font-family: 'Gabarito-Bold', sans-serif;
    background-color: #60ff94;
    padding: 6px 0px;
    border-radius: 5px;
}

.tip{
    align-self: center !important;
    color: white;
    font-size: 18px;
    font-family: 'Gabarito-Bold', sans-serif;
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: #454545;
    border-radius: 6px;
}


.PollToVote{
    width: 370px;
    height: fit-content;    
    margin: 10px;
    padding: 10px 10px 5px 10px; 
    border-radius: 10px;
    background-color: #5b5b5b;
    transition: ease-in-out 0.3s;
}



.PollToVote h2{
    width:  calc(100% - 30px);
    /* height: 100px; */
    margin: 10px 15px 5px 15px;
    padding-bottom: 13px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Gabarito-Bold', sans-serif;
    border-bottom: 4px solid #ffffff;

}

.PollToVote h3{
    text-align: left;
    width:  calc(100% - 30px);
    margin: 10px 15px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Gabarito-Bold', sans-serif;
}

.PollToVote h4{
    text-align: center;
    width:  calc(100% - 30px);
    margin: 15px;
    font-size: 20px;
    color: #000000;
    font-family: 'Gabarito-Bold', sans-serif;
    background-color: #60ff94;
    padding: 6px 0px;
    border-radius: 5px;
}

.PollTimesBlock{
    display: flex;
    place-content: space-between;
    align-items: center;
    margin: 10px 5px;
    background-color: #454545;
    border-radius: 5px;
    padding:5px 0px;
}

.PollTimesBlock h3{
    width: fit-content;
}

.PollTimesBlock p{
    width: fit-content;
    margin: 5px 10px;
    padding: 0px;
    font-size: 27px;
    color: #ffb66e;
    font-family: 'Gabarito-Bold', sans-serif;
}

.PollQuestionBlock{
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    margin: 5px;
    background-color: #454545;
    border-radius: 5px;
    padding:5px 0px;
}

.PollQuestionBlock a{
    width: 100%;
    margin: 5px 10px;
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Gabarito-Bold', sans-serif;
    text-align: center;
    background-color: #2b2b2b;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.PollQuestionBlock a:hover{
    background-color: #1b1b1b;
    cursor: pointer;
}

.PollButtonsBlock{
    display: flex;
    place-content: space-between;
    align-items: center;
    margin: 10px 5px;
    border-radius: 5px;

}

.PollButtonsBlock a{
    width:calc(50% - 35px);
    padding: 10px 14px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Gabarito-Bold', sans-serif;
    text-align: center;
    background-color: #2b2b2b;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

#restartbutton:hover{
    color: #000000;
    background-color: #ffa74f;
    cursor: pointer;
}

#confirmbutton:hover{
    color: #000000;
    background-color: #ff7171;
    cursor: pointer;
}




@media screen and (max-width: 450px) {
    #content{
        margin: 6px;
    }

    .CreatedPoll{
        width: calc(100% - 40px);
    }
    
    .PollToVote{
        width: calc(100% - 40px);
    }
}